Iniciativas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xsd:element name="ArrayOfPt_gov_ar_objectos_iniciativas_DetalhePesquisaIniciativasOut">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_iniciativas_DetalhePesquisaIniciativasOut">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="iniNr" type="xsd:unsignedShort" />
                            <xsd:element name="iniTipo" type="xsd:string" />
                            <xsd:element name="iniDescTipo" type="xsd:string" />
                            <xsd:element name="iniLeg" type="xsd:string" />
                            <xsd:element name="iniSel" type="xsd:unsignedByte" />
                            <xsd:element name="dataInicioleg" type="xsd:date" />
                            <xsd:element name="iniTitulo" type="xsd:string" />
                            <xsd:element name="iniTextoSubst" type="xsd:string" />
                            <xsd:element name="iniLinkTexto" type="xsd:string" />
                            <xsd:element minOccurs="0" name="iniAnexos">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_iniciativas_AnexosOut">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="anexoNome" type="xsd:string" />
                                                    <xsd:element name="anexoFich" type="xsd:string" />
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="peticoes">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="pt_gov_ar_objectos_iniciativas_DadosGeraisOut">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="id" type="xsd:unsignedShort" />
                                                    <xsd:element name="numero" type="xsd:unsignedShort" />
                                                    <xsd:element name="assunto" type="xsd:string" />
                                                    <xsd:element name="legislatura" type="xsd:string" />
                                                    <xsd:element name="sessao" type="xsd:unsignedByte" />
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="iniEventos">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_iniciativas_EventosOut">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:choice maxOccurs="unbounded">
                                                        <xsd:element name="oevId" type="xsd:unsignedInt" />
                                                        <xsd:element name="dataFase" type="xsd:date" />
                                                        <xsd:element name="fase" type="xsd:string" />
                                                        <xsd:element name="obsFase" type="xsd:string" />
                                                        <xsd:element name="actId" type="xsd:unsignedShort" />
                                                        <xsd:element name="evtId" type="xsd:unsignedByte" />
                                                        <xsd:element name="codigoFase" type="xsd:unsignedShort" />
                                                        <xsd:element name="iniciativasConjuntas">
                                                            <xsd:complexType>
                                                                <xsd:sequence>
                                                                    <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_iniciativas_DiscussaoConjuntaOut">
                                                                        <xsd:complexType>
                                                                            <xsd:sequence>
                                                                                <xsd:element name="nr" type="xsd:unsignedShort" />
                                                                                <xsd:element name="tipo" type="xsd:string" />
                                                                                <xsd:element name="descTipo" type="xsd:string" />
                                                                                <xsd:element name="leg" type="xsd:string" />
                                                                                <xsd:element name="sel" type="xsd:unsignedByte" />
                                                                                <xsd:element name="titulo" type="xsd:string" />
                                                                                <xsd:element name="id" type="xsd:unsignedInt" />
                                                                            </xsd:sequence>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element name="votacao">
                                                            <xsd:complexType>
                                                                <xsd:sequence>
                                                                    <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_VotacaoOut">
                                                                        <xsd:complexType>
                                                                            <xsd:sequence>
                                                                                <xsd:element name="id" type="xsd:unsignedInt" />
                                                                                <xsd:element name="resultado" type="xsd:string" />
                                                                                <xsd:element minOccurs="0" name="descricao" type="xsd:string" />
                                                                                <xsd:element name="reuniao" type="xsd:unsignedByte" />
                                                                                <xsd:element name="tipoReuniao" type="xsd:string" />
                                                                                <xsd:element minOccurs="0" name="unanime" type="xsd:string" />
                                                                                <xsd:element minOccurs="0" name="ausencias">
                                                                                    <xsd:complexType>
                                                                                        <xsd:sequence>
                                                                                            <xsd:element name="string" type="xsd:string" />
                                                                                        </xsd:sequence>
                                                                                    </xsd:complexType>
                                                                                </xsd:element>
                                                                                <xsd:element minOccurs="0" name="detalhe" type="xsd:string" />
                                                                                <xsd:element minOccurs="0" name="publicacao">
                                                                                    <xsd:complexType>
                                                                                        <xsd:sequence>
                                                                                            <xsd:element name="pt_gov_ar_objectos_PublicacoesOut">
                                                                                                <xsd:complexType>
                                                                                                    <xsd:sequence>
                                                                                                        <xsd:element name="pubNr" type="xsd:unsignedByte" />
                                                                                                        <xsd:element name="pubTipo" type="xsd:string" />
                                                                                                        <xsd:element name="pubTp" type="xsd:string" />
                                                                                                        <xsd:element name="pubLeg" type="xsd:string" />
                                                                                                        <xsd:element name="pubSL" type="xsd:unsignedByte" />
                                                                                                        <xsd:element name="pubdt" type="xsd:date" />
                                                                                                        <xsd:element minOccurs="0" name="pag">
                                                                                                            <xsd:complexType>
                                                                                                                <xsd:sequence>
                                                                                                                    <xsd:element name="string" type="xsd:string" />
                                                                                                                </xsd:sequence>
                                                                                                            </xsd:complexType>
                                                                                                        </xsd:element>
                                                                                                        <xsd:element name="idPag" type="xsd:unsignedInt" />
                                                                                                        <xsd:element name="URLDiario" type="xsd:string" />
                                                                                                    </xsd:sequence>
                                                                                                </xsd:complexType>
                                                                                            </xsd:element>
                                                                                        </xsd:sequence>
                                                                                    </xsd:complexType>
                                                                                </xsd:element>
                                                                                <xsd:element name="data" type="xsd:date" />
                                                                            </xsd:sequence>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element name="comissao">
                                                            <xsd:complexType>
                                                                <xsd:sequence>
                                                                    <xsd:element name="pt_gov_ar_objectos_iniciativas_ComissoesIniOut">
                                                                        <xsd:complexType>
                                                                            <xsd:sequence>
                                                                                <xsd:choice maxOccurs="unbounded">
                                                                                    <xsd:element name="accId" type="xsd:unsignedShort" />
                                                                                    <xsd:element name="numero" type="xsd:unsignedShort" />
                                                                                    <xsd:element name="idComissao" type="xsd:unsignedShort" />
                                                                                    <xsd:element name="nome" type="xsd:string" />
                                                                                    <xsd:element name="competente" type="xsd:string" />
                                                                                    <xsd:element name="dataDistribuicao" type="xsd:date" />
                                                                                    <xsd:element name="remessas">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_RemessasOut">
                                                                                                    <xsd:complexType>
                                                                                                        <xsd:sequence>
                                                                                                            <xsd:element name="tipoRemessa" type="xsd:string" />
                                                                                                            <xsd:element name="dataDocumento" type="xsd:date" />
                                                                                                            <xsd:element name="dataRemessa" type="xsd:date" />
                                                                                                            <xsd:element minOccurs="0" name="numeroOficio" type="xsd:string" />
                                                                                                            <xsd:element minOccurs="0" name="observacoes" type="xsd:string" />
                                                                                                        </xsd:sequence>
                                                                                                    </xsd:complexType>
                                                                                                </xsd:element>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="dataAgendamentoPlenario" type="xsd:dateTime" />
                                                                                    <xsd:element name="votacao">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_VotacaoOut">
                                                                                                    <xsd:complexType>
                                                                                                        <xsd:sequence>
                                                                                                            <xsd:element name="id" type="xsd:unsignedInt" />
                                                                                                            <xsd:element name="resultado" type="xsd:string" />
                                                                                                            <xsd:element minOccurs="0" name="descricao" type="xsd:string" />
                                                                                                            <xsd:element name="reuniao" type="xsd:unsignedByte" />
                                                                                                            <xsd:element minOccurs="0" name="unanime" type="xsd:string" />
                                                                                                            <xsd:element minOccurs="0" name="ausencias">
                                                                                                                <xsd:complexType>
                                                                                                                    <xsd:sequence>
                                                                                                                        <xsd:element maxOccurs="unbounded" name="string" type="xsd:string" />
                                                                                                                    </xsd:sequence>
                                                                                                                </xsd:complexType>
                                                                                                            </xsd:element>
                                                                                                            <xsd:element minOccurs="0" name="detalhe" type="xsd:string" />
                                                                                                            <xsd:element name="data" type="xsd:date" />
                                                                                                        </xsd:sequence>
                                                                                                    </xsd:complexType>
                                                                                                </xsd:element>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="relatores">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_RelatoresOut">
                                                                                                    <xsd:complexType>
                                                                                                        <xsd:sequence>
                                                                                                            <xsd:element name="nome" type="xsd:string" />
                                                                                                            <xsd:element name="gp" type="xsd:string" />
                                                                                                            <xsd:element name="id" type="xsd:unsignedShort" />
                                                                                                        </xsd:sequence>
                                                                                                    </xsd:complexType>
                                                                                                </xsd:element>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="datainicioApreciacaoPublica" type="xsd:date" />
                                                                                    <xsd:element name="datafimApreciacaoPublica" type="xsd:date" />
                                                                                    <xsd:element name="documentos">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_DocsOut">
                                                                                                    <xsd:complexType>
                                                                                                        <xsd:sequence>
                                                                                                            <xsd:element name="tituloDocumento" type="xsd:string" />
                                                                                                            <xsd:element name="dataDocumento" type="xsd:date" />
                                                                                                            <xsd:element name="tipoDocumento" type="xsd:string" />
                                                                                                            <xsd:element name="URL" type="xsd:string" />
                                                                                                        </xsd:sequence>
                                                                                                    </xsd:complexType>
                                                                                                </xsd:element>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="pedidosParecer">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element maxOccurs="unbounded" name="string" type="xsd:string" />
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="pareceresRecebidos">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element maxOccurs="unbounded" name="string" type="xsd:string" />
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="publicacao">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element name="pt_gov_ar_objectos_PublicacoesOut">
                                                                                                    <xsd:complexType>
                                                                                                        <xsd:sequence>
                                                                                                            <xsd:element name="pubNr" type="xsd:unsignedByte" />
                                                                                                            <xsd:element name="pubTipo" type="xsd:string" />
                                                                                                            <xsd:element name="pubTp" type="xsd:string" />
                                                                                                            <xsd:element name="pubLeg" type="xsd:string" />
                                                                                                            <xsd:element name="pubSL" type="xsd:unsignedByte" />
                                                                                                            <xsd:element minOccurs="0" name="obs" type="xsd:string" />
                                                                                                            <xsd:element name="pubdt" type="xsd:date" />
                                                                                                            <xsd:element name="pag">
                                                                                                                <xsd:complexType>
                                                                                                                    <xsd:sequence>
                                                                                                                        <xsd:element name="string" type="xsd:string" />
                                                                                                                    </xsd:sequence>
                                                                                                                </xsd:complexType>
                                                                                                            </xsd:element>
                                                                                                            <xsd:element name="idPag" type="xsd:unsignedByte" />
                                                                                                            <xsd:element name="URLDiario" type="xsd:string" />
                                                                                                        </xsd:sequence>
                                                                                                    </xsd:complexType>
                                                                                                </xsd:element>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="publicacaoRelatorio">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element name="pt_gov_ar_objectos_PublicacoesOut">
                                                                                                    <xsd:complexType>
                                                                                                        <xsd:sequence>
                                                                                                            <xsd:element name="pubNr" type="xsd:unsignedByte" />
                                                                                                            <xsd:element name="pubTipo" type="xsd:string" />
                                                                                                            <xsd:element name="pubTp" type="xsd:string" />
                                                                                                            <xsd:element name="pubLeg" type="xsd:string" />
                                                                                                            <xsd:element name="pubSL" type="xsd:unsignedByte" />
                                                                                                            <xsd:element minOccurs="0" name="obs" type="xsd:string" />
                                                                                                            <xsd:element name="pubdt" type="xsd:date" />
                                                                                                            <xsd:element name="pag">
                                                                                                                <xsd:complexType>
                                                                                                                    <xsd:sequence>
                                                                                                                        <xsd:element name="string" type="xsd:string" />
                                                                                                                    </xsd:sequence>
                                                                                                                </xsd:complexType>
                                                                                                            </xsd:element>
                                                                                                            <xsd:element name="idPag" type="xsd:unsignedByte" />
                                                                                                            <xsd:element name="URLDiario" type="xsd:string" />
                                                                                                        </xsd:sequence>
                                                                                                    </xsd:complexType>
                                                                                                </xsd:element>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="audicoes">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_iniciativas_ActividadesRelacionadasOut">
                                                                                                    <xsd:complexType>
                                                                                                        <xsd:sequence>
                                                                                                            <xsd:element name="tipo" type="xsd:string" />
                                                                                                            <xsd:element name="data" type="xsd:date" />
                                                                                                            <xsd:element name="id" type="xsd:unsignedInt" />
                                                                                                        </xsd:sequence>
                                                                                                    </xsd:complexType>
                                                                                                </xsd:element>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="audiencias">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_iniciativas_ActividadesRelacionadasOut">
                                                                                                    <xsd:complexType>
                                                                                                        <xsd:sequence>
                                                                                                            <xsd:element name="tipo" type="xsd:string" />
                                                                                                            <xsd:element name="data" type="xsd:date" />
                                                                                                            <xsd:element name="id" type="xsd:unsignedInt" />
                                                                                                        </xsd:sequence>
                                                                                                    </xsd:complexType>
                                                                                                </xsd:element>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="distribuicaoSubcomissao">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element name="pt_gov_ar_objectos_ComissoesOut">
                                                                                                    <xsd:complexType>
                                                                                                        <xsd:sequence>
                                                                                                            <xsd:element name="orgId" type="xsd:unsignedShort" />
                                                                                                            <xsd:element name="leg" type="xsd:string" />
                                                                                                            <xsd:element name="num" type="xsd:unsignedByte" />
                                                                                                            <xsd:element name="sigla" type="xsd:string" />
                                                                                                            <xsd:element name="nome" type="xsd:string" />
                                                                                                        </xsd:sequence>
                                                                                                    </xsd:complexType>
                                                                                                </xsd:element>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                    <xsd:element name="motivoNaoParecer" type="xsd:string" />
                                                                                    <xsd:element name="dataMotivoNaoParecer" type="xsd:date" />
                                                                                </xsd:choice>
                                                                            </xsd:sequence>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element name="intervencoesdebates">
                                                            <xsd:complexType>
                                                                <xsd:sequence>
                                                                    <xsd:element name="pt_gov_ar_objectos_IntervencoesOut">
                                                                        <xsd:complexType>
                                                                            <xsd:sequence>
                                                                                <xsd:element name="dataReuniaoPlenaria" type="xsd:date" />
                                                                                <xsd:element minOccurs="0" name="oradores">
                                                                                    <xsd:complexType>
                                                                                        <xsd:sequence>
                                                                                            <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_peticoes_OradoresOut">
                                                                                                <xsd:complexType>
                                                                                                    <xsd:sequence>
                                                                                                        <xsd:element name="horaInicio" type="xsd:string" />
                                                                                                        <xsd:element name="horaTermo" type="xsd:string" />
                                                                                                        <xsd:element name="faseSessao" type="xsd:string" />
                                                                                                        <xsd:element name="sumario" type="xsd:string" />
                                                                                                        <xsd:element name="publicacao">
                                                                                                            <xsd:complexType>
                                                                                                                <xsd:sequence>
                                                                                                                    <xsd:element name="pt_gov_ar_objectos_PublicacoesOut">
                                                                                                                        <xsd:complexType>
                                                                                                                            <xsd:sequence>
                                                                                                                                <xsd:element name="pubNr" type="xsd:unsignedByte" />
                                                                                                                                <xsd:element name="pubTipo" type="xsd:string" />
                                                                                                                                <xsd:element name="pubTp" type="xsd:string" />
                                                                                                                                <xsd:element name="pubLeg" type="xsd:string" />
                                                                                                                                <xsd:element name="pubSL" type="xsd:unsignedByte" />
                                                                                                                                <xsd:element name="pubdt" type="xsd:date" />
                                                                                                                                <xsd:element minOccurs="0" name="pag">
                                                                                                                                    <xsd:complexType>
                                                                                                                                        <xsd:sequence>
                                                                                                                                            <xsd:element maxOccurs="unbounded" name="string" type="xsd:string" />
                                                                                                                                        </xsd:sequence>
                                                                                                                                    </xsd:complexType>
                                                                                                                                </xsd:element>
                                                                                                                                <xsd:element name="idInt" type="xsd:unsignedInt" />
                                                                                                                                <xsd:element name="URLDiario" type="xsd:string" />
                                                                                                                            </xsd:sequence>
                                                                                                                        </xsd:complexType>
                                                                                                                    </xsd:element>
                                                                                                                </xsd:sequence>
                                                                                                            </xsd:complexType>
                                                                                                        </xsd:element>
                                                                                                        <xsd:element minOccurs="0" name="deputados">
                                                                                                            <xsd:complexType>
                                                                                                                <xsd:sequence>
                                                                                                                    <xsd:element minOccurs="0" name="idCadastro" type="xsd:unsignedShort" />
                                                                                                                    <xsd:element minOccurs="0" name="nome" type="xsd:string" />
                                                                                                                    <xsd:element name="GP" type="xsd:string" />
                                                                                                                </xsd:sequence>
                                                                                                            </xsd:complexType>
                                                                                                        </xsd:element>
                                                                                                        <xsd:element name="convidados" />
                                                                                                        <xsd:element name="membrosGoverno">
                                                                                                            <xsd:complexType>
                                                                                                                <xsd:sequence minOccurs="0">
                                                                                                                    <xsd:element name="nome" type="xsd:string" />
                                                                                                                    <xsd:element name="cargo" type="xsd:string" />
                                                                                                                    <xsd:element name="governo" type="xsd:string" />
                                                                                                                </xsd:sequence>
                                                                                                            </xsd:complexType>
                                                                                                        </xsd:element>
                                                                                                        <xsd:element minOccurs="0" name="linkVideo">
                                                                                                            <xsd:complexType>
                                                                                                                <xsd:sequence>
                                                                                                                    <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_peticoes_LinksVideos">
                                                                                                                        <xsd:complexType>
                                                                                                                            <xsd:sequence>
                                                                                                                                <xsd:element name="link" type="xsd:string" />
                                                                                                                            </xsd:sequence>
                                                                                                                        </xsd:complexType>
                                                                                                                    </xsd:element>
                                                                                                                </xsd:sequence>
                                                                                                            </xsd:complexType>
                                                                                                        </xsd:element>
                                                                                                    </xsd:sequence>
                                                                                                </xsd:complexType>
                                                                                            </xsd:element>
                                                                                        </xsd:sequence>
                                                                                    </xsd:complexType>
                                                                                </xsd:element>
                                                                            </xsd:sequence>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element name="publicacaoFase">
                                                            <xsd:complexType>
                                                                <xsd:sequence>
                                                                    <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_PublicacoesOut">
                                                                        <xsd:complexType>
                                                                            <xsd:sequence>
                                                                                <xsd:element name="pubNr" type="xsd:unsignedByte" />
                                                                                <xsd:element name="pubTipo" type="xsd:string" />
                                                                                <xsd:element name="pubTp" type="xsd:string" />
                                                                                <xsd:element name="pubLeg" type="xsd:string" />
                                                                                <xsd:element name="pubSL" type="xsd:unsignedByte" />
                                                                                <xsd:element minOccurs="0" name="supl" type="xsd:string" />
                                                                                <xsd:element minOccurs="0" name="obs" type="xsd:string" />
                                                                                <xsd:element name="pubdt" type="xsd:date" />
                                                                                <xsd:element minOccurs="0" name="pag">
                                                                                    <xsd:complexType>
                                                                                        <xsd:sequence>
                                                                                            <xsd:element maxOccurs="unbounded" name="string" type="xsd:string" />
                                                                                        </xsd:sequence>
                                                                                    </xsd:complexType>
                                                                                </xsd:element>
                                                                                <xsd:element name="idPag" type="xsd:unsignedInt" />
                                                                                <xsd:element minOccurs="0" name="pagFinalDiarioSupl" type="xsd:string" />
                                                                                <xsd:element name="URLDiario" type="xsd:string" />
                                                                            </xsd:sequence>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element name="anexosFase">
                                                            <xsd:complexType>
                                                                <xsd:sequence>
                                                                    <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_iniciativas_AnexosOut">
                                                                        <xsd:complexType>
                                                                            <xsd:sequence>
                                                                                <xsd:element name="anexoNome" type="xsd:string" />
                                                                                <xsd:element name="anexoFich" type="xsd:string" />
                                                                            </xsd:sequence>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element name="oevTextId" type="xsd:unsignedShort" />
                                                        <xsd:element name="textosAprovados" type="xsd:unsignedShort" />
                                                        <xsd:element name="peticoesConjuntas">
                                                            <xsd:complexType>
                                                                <xsd:sequence>
                                                                    <xsd:element name="pt_gov_ar_objectos_iniciativas_DiscussaoConjuntaOut">
                                                                        <xsd:complexType>
                                                                            <xsd:sequence>
                                                                                <xsd:element name="nr" type="xsd:unsignedShort" />
                                                                                <xsd:element name="leg" type="xsd:string" />
                                                                                <xsd:element name="sel" type="xsd:unsignedByte" />
                                                                                <xsd:element name="titulo" type="xsd:string" />
                                                                                <xsd:element name="id" type="xsd:unsignedByte" />
                                                                            </xsd:sequence>
                                                                        </xsd:complexType>
                                                                    </xsd:element>
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element name="recursoGP">
                                                            <xsd:complexType>
                                                                <xsd:sequence>
                                                                    <xsd:element maxOccurs="unbounded" name="string" type="xsd:string" />
                                                                </xsd:sequence>
                                                            </xsd:complexType>
                                                        </xsd:element>
                                                        <xsd:element name="resultadoVotacaoPontos" type="xsd:string" />
                                                    </xsd:choice>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="iniAutorDeputados">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_iniciativas_AutoresDeputadosOut">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="idCadastro" type="xsd:unsignedShort" />
                                                    <xsd:element name="nome" type="xsd:string" />
                                                    <xsd:element name="GP" type="xsd:string" />
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="iniAutorOutros">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="sigla" type="xsd:string" />
                                        <xsd:element name="nome" type="xsd:string" />
                                        <xsd:element minOccurs="0" name="iniAutorComissao" type="xsd:string" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="iniId" type="xsd:unsignedInt" />
                            <xsd:element minOccurs="0" name="iniAutorGruposParlamentares">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element maxOccurs="unbounded" name="pt_gov_ar_objectos_AutoresGruposParlamentaresOut">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="GP" type="xsd:string" />
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" name="iniTextoSubstCampo" type="xsd:string" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xs:schema>